Repository Parsifal-M/backstage-open-feedback, pull requests merged in 2024-08, with the labels that each got.

#44 Fixes the button layout in the modal for #42
  plugins/open-feedback/src/components/OpenFeedbackCard/OpenFeedbackCard.tsx
  plugins/open-feedback/src/components/OpenFeedbackModal/OpenFeedbackModal.tsx
Labels: frontend

#45 Release frontend plugin
  plugins/open-feedback/package.json
Labels: frontend

#46 Hotfix/fix buttons
  packages/app/package.json
  packages/backend/package.json
  plugins/open-feedback/package.json
  plugins/open-feedback/src/components/OpenFeedbackModal/OpenFeedbackModal.tsx
  yarn.lock
Labels: frontend

#49 Add Floating Feedback Button and Customizable Page Titles
  README.md
  app-config.yaml
  packages/app/src/components/Root/Root.tsx
  plugins/open-feedback/src/components/OpenFeedbackModal/OpenFeedbackModal.tsx
  plugins/open-feedback/src/components/OpenFeedbackPage/OpenFeedbackPage.test.tsx
  plugins/open-feedback/src/components/OpenFeedbackPage/OpenFeedbackPage.tsx
  plugins/open-feedback/src/utils/cleanUrl.ts
Labels: documentation, frontend

#50 Update Docs and some Repo Admin (Issue Templates)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question-feedback.md
  CONTRIBUTING.md
  README.md
  docs/img/feedback-modal.png
  docs/img/feedback-page-mocked-data.png
  docs/img/of-feedbackpage.png
  docs/img/of-modal.png
  packages/app/src/App.tsx
  packages/app/src/components/Root/Root.tsx
Labels: documentation

#51 Release v1.7.1
  plugins/open-feedback/package.json
Labels: frontend
