Repository Parsifal-M/backstage-open-feedback, pull requests merged in 2025-04, with the labels that each got.

#63 [FEAT] Ability to disable Anonymous and Modify default star values.
  README.md
  packages/app/src/components/Root/Root.tsx
  plugins/open-feedback/src/components/OpenFeedbackModal/OpenFeedbackModal.test.tsx
  plugins/open-feedback/src/components/OpenFeedbackModal/OpenFeedbackModal.tsx
Labels: documentation, frontend

#64 Version Bump Stuff
  README.md
  backstage.json
  package.json
  packages/app/package.json
  packages/backend/package.json
  packages/backend/src/index.ts
  plugins/open-feedback-backend/package.json
  plugins/open-feedback-common/package.json
  plugins/open-feedback/package.json
  yarn.lock
Labels: documentation, backend, common, frontend

#65 release prep
  plugins/open-feedback-backend/package.json
  plugins/open-feedback-common/package.json
  plugins/open-feedback/package.json
  yarn.lock
Labels: backend, common, frontend
